.center-column
  -@dilemmas.each do |dilemma|    
    .dilemma 
      .text
        %a{:href=> "/#{dilemma.id}" }= dilemma.text
      .asks
        %span.says= "asks <strong>#{dilemma.by}</strong>"
