.main {
      margin:0 auto; 
      width:950px; 
      /*position:absolute;*/						
}
.header {
  width:380px; 
  height:210px; 
  left:50%; 
  top:30px; 
  position:fixed; 
  text-align:center; 
	margin-left: -190px; 
}
.center-column {
	width:380px;
	left:50%; 
	top:170px; 
  position:relative; 
	margin-left: -190px;	
}

.menu a { 
  display: inline; 
}
.dilemma {
    width:380px; 
    height:210px; 
    background-image:url('/images/bubble.jpg'); 
    background-repeat:no-repeat;
  	position:relative;  
}
.center-fixed {
		top:170px; 
    width:380px;
		left:50%; 
		margin-left: -190px;		
    position:fixed;  			
}
.dilemma .text {
    position: relative; 
    text-align:center;  
    vertical-align: middle; 
    line-height: 150px;
}
.dilemma .asks {
    position:relative;
    top:30px;
    left:90px;
    font-size:1.5em;
}
.good {
    width:230px; 
    position:absolute; 
    top:30px; 
    left:5%; 
    text-align:center;
}

.evil {
  width:230px; 
  text-align:center; 
  position:absolute; 
  top:30px; 
  right:5%;
}

.input {
				width: 200px;
				border-left-style: none;
				border-bottom-style: solid;
				border-right-style: none;
				border-top-style: none;
				border-bottom-width: 2px;
				font-family: georgia;				
				background-color: #2f2f2f;
				color: #e9ffb1;
} 
.evil .input {color:#F17B78;}

.good .input {color:#E5ECF9;}

.input .text{}

.evil .button { 
    position:absolute;
    left:80px;
}

.good .button { 
    position:absolute;
    left:65px;    
}
.suggestions{
    position:relative;
    top:40px;
}
.error {
  font: 12pt verdana;
  position:relative;
  top:270px;
  padding-left: 10px
}
.center-form{
	text-align:center; 
}

.footer-valid{  
  position:absolute;  
  bottom:10px;
  right:10px;
}

.footer-about{
  position:absolute;  
  bottom:10px;
  left:10px;
}
.says {
  font-size:1.5em;
}
